@{
    ViewData["Title"] = "Live Page";
}

<ul style="margin: auto;width: 1000px;">
    <li><a href="@Url.Action("Room",new {id = 1111})">你的直播间</a></li>
    <li><a href="@Url.Action("Room",new {id = 2222})">我的直播间</a></li>
    <li><a href="@Url.Action("Room",new {id = 3333})">他的直播间</a></li>
</ul>